body {
    font-family: sans-serif;
    padding: 2em;
    background: #121212;
    color: #e0e0e0;
}

pre {
    padding: 1em;
    background: #1e1e1e;
    border-radius: 8px;
    overflow-x: auto;
    color: #ffffff;
}

.meta {
    font-size: 0.9em;
    color: #999999;
    margin-top: 1em;
}
